.DS_Store
node_modules/
.next/
dist/
.turbo/
e2e/.auth/
*.tsbuildinfo
.env
.env.local
storybook-static/
playwright-report/
test-results/
bun.lockb
__snapshots__/__diff_output__/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl
crash.log
